
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@using(Html.BeginForm("Login","Home",FormMethod.Post))
{
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}




.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


    </style>
</head>
<body>
    <br /><br /><br /><br /><br />
    <h2 style="text-align:center;"> <b>  Admin Login  </b></h2>
    <br /><br /><br /><br />
    <form action="/action_page.php" method="post">

        <div class="container">
            <center>

                <label for="uname"><b>Email</b></label><br />
                <input type="text" placeholder="Enter Email" name="ADMIN_EMAIL" required><br />

                <label for="psw"><b>Password</b></label><br />
                <input type="password" placeholder="Enter Password" name="ADMIN_PASSWORD" required><br />
                <label for="message"><b style="color:red">@ViewBag.Message</b></label><br /><br />
                <button type="submit" class="primary-btn">Login</button>
            </center>
        </div>


    </form>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>
</html>

}
